system/storage/cache/*
system/storage/download/*
system/storage/logs/*
system/storage/marketing/*
system/storage/modification/*
system/storage/session/*
system/storage/upload/*
system/storage/vendor/*
.idea/
.htaccess
config.php
admin/config.php
image/cache/*